{% if quantity == blank %}
  {% assign quantity = 0 %}
{% endif %}

<div
  data-cart-items
  class="whitespace-nowrap rounded-full px-[0.3rem] py-[0.2rem] bg-primary-black  text-[12px] font-bold text-white"
>
  {{ quantity }}
</div>

<script>
  const getTotalCountProd = async () => {
    const cartItemsCounters = document.querySelectorAll('[data-cart-items]');

    if (cartItemsCounters.length > 0) {
      const response = await fetch(window.Shopify.routes.root + 'cart.js');
      const data = await response.json();
      const item_count = data.item_count;

      cartItemsCounters.forEach((cartItemsCounter) => {
        cartItemsCounter.innerHTML = item_count;
      });
    }
  };
  window.addEventListener('DOMContentLoaded', getTotalCountProd);
</script>
