<div class="py-3 border-b border-forg relative">
  <input
    type="email"
    id="UserEmail"
    placeholder="Email"
    class="h-5 w-full text-[0.9375rem] border-none bg-transparent pr-7 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0"
  >
  <i class="absolute right-0 top-1/2 -translate-y-1/2">
    {% render 'icon-arrow', className: 'size-5' %}
  </i>
</div>

<style>
  input[type='email']::placeholder {
    color: var(--color-foreground);
  }
</style>
