<a href="{{ shop.url }}">
  <div class="ibgin logo-max">
    {% if settings.logo.src != blank %}
      {{ settings.logo.src | image_url: width: '100px' | image_tag }}
    {% else %}
      {{ 'collection-1' | placeholder_svg_tag }}
    {% endif %}
  </div>
</a>

<style>
  .logo-max{
    max-width:{{ settings.logo_width | divided_by: 10 }}rem;
  }
</style>
