<div class="container my-4">
  {% render 'breadcrumb' %}
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "tag": "section",
  "settings": [],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
