<div class="flex flex-col items-center justify-center gap-5 h-dvh">
  <h1 class="font-semibold text-[36px]">{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext_html' | t }}</p>
  <a href="{{ routes.root_url }}">Go to Home Page</a>
</div>